In [2]:
 
####################
## Tarea en clase ##
####################

# Cargar conjunto de datos mediante pandas

import pandas as pd
df_original = pd.read_excel('Consumo Gasolina Autos Ene 2018.xlsx')
df_original

,Marca,Submarca,Versión,Modelo,Trans.,Comb.,Cilindros,Potencia (HP),Tamaño (L),Categoría,R. Ciudad (km/l),R. Carr. (km/l),R. Comb. (km/l),R. Ajust. (km/l),CO2(g/km),NOx (g/1000km),Calificación Gas Ef. Inv.,Calificación Contam. Aire
0,FORD,FUSION,HIBRIDO 4PTS 2.0L 4CIL 188HP AUT (CVT),2015,CVT,Gasolina,4,188,2.00,AUTOS COMPACTOS,27.44,28.57,28.93,21.70,107,5,10,9
1,FORD,FUSION,HIBRIDO 4PTS 2.0L 4CIL 188HP AUT (eCVT),2016,CVT,Gasolina,4,188,2.00,AUTOS COMPACTOS,27.44,28.57,28.93,21.70,107,0,10,9
2,FORD,FUSION,HIBRIDO 4X2 4PTAS 2.0L 4CIL 141(+47e)HP E-CVT,2017,CVT,Gasolina,4,188,2.00,AUTOS COMPACTOS,25.62,24.77,25.23,18.92,123,2,10,9
3,FORD,FUSION,HIBRIDO 4PTAS 2.0L 4CIL 188HP AUT eCVT,2018,AUT,Gasolina,4,188,2.00,AUTOS COMPACTOS,25.62,24.77,25.23,18.92,123,2,10,9
4,FORD,FUSION,HYBRID 4PTS 2.5L 4CIL 156HP CVT,2011,CVT,Gasolina,4,156,2.50,AUTOS COMPACTOS,24.00,21.90,23.01,17.26,135,5,9,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4612,LAND ROVER,RANGE ROVER,SUPERCARGADA 5PTS 5.0L 506HP AUT,2012,AUT,Gasolina,8,506,5.00,CAMIONETAS DE USO MULTIPLE (SUV),4.42,9.60,6.97,5.22,446,39,0,?
4613,LAND ROVER,RANGE ROVER,SUPERCARGADA 5PTS 5.0L 8CIL 506HP AUT,2013,AUT,Gasolina,8,506,5.00,CAMIONETAS DE USO MULTIPLE (SUV),4.42,9.60,6.97,5.22,446,39,0,?
4614,MERCEDES,G 65,AMG 4X4 5PTAS 6.0L 12CIL 630HP AUT BITURBO,2016,AUT,Gasolina,12,630,5.98,CAMIONETAS DE USO MULTIPLE (SUV),4.41,7.30,6.45,4.84,482,38,0,?
4615,MERCEDES,G 65,AMG 5PTAS 6.0L 12CIL 630HP BITURBO AUT,2018,AUT,Gasolina,12,630,5.98,CAMIONETAS DE USO MULTIPLE (SUV),4.41,7.30,6.45,4.84,482,38,0,?
4616,MERCEDES,ML63 AMG,5PTS 6.2L 8CIL 503HP AUT,2011,G TRONIC,Gasolina,8,503,6.20,CAMIONETAS DE USO MULTIPLE (SUV),4.14,8.19,5.33,3.99,584,31,0,6

In [3]:
# Especificar el tipo de datos de cada columna.

df_original.dtypes

Marca                         object
Submarca                      object
Versión                       object
Modelo                         int64
Trans.                        object
Comb.                         object
Cilindros                      int64
Potencia (HP)                  int64
Tamaño (L)                   float64
Categoría                     object
R. Ciudad (km/l)             float64
R. Carr. (km/l)              float64
R. Comb. (km/l)              float64
R. Ajust. (km/l)             float64
CO2(g/km)                      int64
NOx (g/1000km)                 int64
Calificación Gas Ef. Inv.      int64
Calificación Contam. Aire     object
dtype: object

In [4]:
# Si es necesario, asignar una columna como índice.

df_1 = df_original.reset_index()
df_1

,index,Marca,Submarca,Versión,Modelo,Trans.,Comb.,Cilindros,Potencia (HP),Tamaño (L),Categoría,R. Ciudad (km/l),R. Carr. (km/l),R. Comb. (km/l),R. Ajust. (km/l),CO2(g/km),NOx (g/1000km),Calificación Gas Ef. Inv.,Calificación Contam. Aire
0,0,FORD,FUSION,HIBRIDO 4PTS 2.0L 4CIL 188HP AUT (CVT),2015,CVT,Gasolina,4,188,2.00,AUTOS COMPACTOS,27.44,28.57,28.93,21.70,107,5,10,9
1,1,FORD,FUSION,HIBRIDO 4PTS 2.0L 4CIL 188HP AUT (eCVT),2016,CVT,Gasolina,4,188,2.00,AUTOS COMPACTOS,27.44,28.57,28.93,21.70,107,0,10,9
2,2,FORD,FUSION,HIBRIDO 4X2 4PTAS 2.0L 4CIL 141(+47e)HP E-CVT,2017,CVT,Gasolina,4,188,2.00,AUTOS COMPACTOS,25.62,24.77,25.23,18.92,123,2,10,9
3,3,FORD,FUSION,HIBRIDO 4PTAS 2.0L 4CIL 188HP AUT eCVT,2018,AUT,Gasolina,4,188,2.00,AUTOS COMPACTOS,25.62,24.77,25.23,18.92,123,2,10,9
4,4,FORD,FUSION,HYBRID 4PTS 2.5L 4CIL 156HP CVT,2011,CVT,Gasolina,4,156,2.50,AUTOS COMPACTOS,24.00,21.90,23.01,17.26,135,5,9,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4612,4612,LAND ROVER,RANGE ROVER,SUPERCARGADA 5PTS 5.0L 506HP AUT,2012,AUT,Gasolina,8,506,5.00,CAMIONETAS DE USO MULTIPLE (SUV),4.42,9.60,6.97,5.22,446,39,0,?
4613,4613,LAND ROVER,RANGE ROVER,SUPERCARGADA 5PTS 5.0L 8CIL 506HP AUT,2013,AUT,Gasolina,8,506,5.00,CAMIONETAS DE USO MULTIPLE (SUV),4.42,9.60,6.97,5.22,446,39,0,?
4614,4614,MERCEDES,G 65,AMG 4X4 5PTAS 6.0L 12CIL 630HP AUT BITURBO,2016,AUT,Gasolina,12,630,5.98,CAMIONETAS DE USO MULTIPLE (SUV),4.41,7.30,6.45,4.84,482,38,0,?
4615,4615,MERCEDES,G 65,AMG 5PTAS 6.0L 12CIL 630HP BITURBO AUT,2018,AUT,Gasolina,12,630,5.98,CAMIONETAS DE USO MULTIPLE (SUV),4.41,7.30,6.45,4.84,482,38,0,?
4616,4616,MERCEDES,ML63 AMG,5PTS 6.2L 8CIL 503HP AUT,2011,G TRONIC,Gasolina,8,503,6.20,CAMIONETAS DE USO MULTIPLE (SUV),4.14,8.19,5.33,3.99,584,31,0,6

In [5]:
#############
## Tarea 2 ##
#############

# Crear, modificar o eliminar columnas


# Se genera lista booleana hibrido con los vehículos hibridos de acuerdo a su Versión o Submarca
hibrido1 = ['HIBRIDO' in x or 'HYBRID' in x or 'HÍBRIDO' in x for x in df_1['Versión'] ]
hibrido2 = ['HIBRIDO' in x for x in df_1['Submarca']]
hibrido = []
for i in range(len(hibrido1)):
    if hibrido1[i] or hibrido2[i]:
        hibrido.append(1)
    else:
        hibrido.append(0)

# Se crea columna 'Hibrido' con 1 si el vehículo es híbrido y 0 si no es híbrido.
df_1['Hibrido'] = hibrido

# Se remueve la columna index que se creó ya que no es necesaria.
df_1 = df_1.drop('index', axis=1)

df_1.head(3)

,Marca,Submarca,Versión,Modelo,Trans.,Comb.,Cilindros,Potencia (HP),Tamaño (L),Categoría,R. Ciudad (km/l),R. Carr. (km/l),R. Comb. (km/l),R. Ajust. (km/l),CO2(g/km),NOx (g/1000km),Calificación Gas Ef. Inv.,Calificación Contam. Aire,Hibrido
0,FORD,FUSION,HIBRIDO 4PTS 2.0L 4CIL 188HP AUT (CVT),2015,CVT,Gasolina,4,188,2.0,AUTOS COMPACTOS,27.44,28.57,28.93,21.70,107,5,10,9,1
1,FORD,FUSION,HIBRIDO 4PTS 2.0L 4CIL 188HP AUT (eCVT),2016,CVT,Gasolina,4,188,2.0,AUTOS COMPACTOS,27.44,28.57,28.93,21.70,107,0,10,9,1
2,FORD,FUSION,HIBRIDO 4X2 4PTAS 2.0L 4CIL 141(+47e)HP E-CVT,2017,CVT,Gasolina,4,188,2.0,AUTOS COMPACTOS,25.62,24.77,25.23,18.92,123,2,10,9,1

In [6]:
# Se revisa si hay valores faltantes en la tabla.
df_1.isnull().sum()

Marca                         0
Submarca                      0
Versión                       0
Modelo                        0
Trans.                       16
Comb.                         0
Cilindros                     0
Potencia (HP)                 0
Tamaño (L)                    0
Categoría                     0
R. Ciudad (km/l)              0
R. Carr. (km/l)               0
R. Comb. (km/l)               0
R. Ajust. (km/l)              0
CO2(g/km)                     0
NOx (g/1000km)                0
Calificación Gas Ef. Inv.     0
Calificación Contam. Aire     0
Hibrido                       0
dtype: int64

In [7]:
# Se encuentran 16 valores nulos en Transmisión ('Trans.')
# Se procede a eliminar esos 16 registros.

df_2 = df_1.dropna()
df_2

,Marca,Submarca,Versión,Modelo,Trans.,Comb.,Cilindros,Potencia (HP),Tamaño (L),Categoría,R. Ciudad (km/l),R. Carr. (km/l),R. Comb. (km/l),R. Ajust. (km/l),CO2(g/km),NOx (g/1000km),Calificación Gas Ef. Inv.,Calificación Contam. Aire,Hibrido
0,FORD,FUSION,HIBRIDO 4PTS 2.0L 4CIL 188HP AUT (CVT),2015,CVT,Gasolina,4,188,2.00,AUTOS COMPACTOS,27.44,28.57,28.93,21.70,107,5,10,9,1
1,FORD,FUSION,HIBRIDO 4PTS 2.0L 4CIL 188HP AUT (eCVT),2016,CVT,Gasolina,4,188,2.00,AUTOS COMPACTOS,27.44,28.57,28.93,21.70,107,0,10,9,1
2,FORD,FUSION,HIBRIDO 4X2 4PTAS 2.0L 4CIL 141(+47e)HP E-CVT,2017,CVT,Gasolina,4,188,2.00,AUTOS COMPACTOS,25.62,24.77,25.23,18.92,123,2,10,9,1
3,FORD,FUSION,HIBRIDO 4PTAS 2.0L 4CIL 188HP AUT eCVT,2018,AUT,Gasolina,4,188,2.00,AUTOS COMPACTOS,25.62,24.77,25.23,18.92,123,2,10,9,1
4,FORD,FUSION,HYBRID 4PTS 2.5L 4CIL 156HP CVT,2011,CVT,Gasolina,4,156,2.50,AUTOS COMPACTOS,24.00,21.90,23.01,17.26,135,5,9,9,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4612,LAND ROVER,RANGE ROVER,SUPERCARGADA 5PTS 5.0L 506HP AUT,2012,AUT,Gasolina,8,506,5.00,CAMIONETAS DE USO MULTIPLE (SUV),4.42,9.60,6.97,5.22,446,39,0,?,0
4613,LAND ROVER,RANGE ROVER,SUPERCARGADA 5PTS 5.0L 8CIL 506HP AUT,2013,AUT,Gasolina,8,506,5.00,CAMIONETAS DE USO MULTIPLE (SUV),4.42,9.60,6.97,5.22,446,39,0,?,0
4614,MERCEDES,G 65,AMG 4X4 5PTAS 6.0L 12CIL 630HP AUT BITURBO,2016,AUT,Gasolina,12,630,5.98,CAMIONETAS DE USO MULTIPLE (SUV),4.41,7.30,6.45,4.84,482,38,0,?,0
4615,MERCEDES,G 65,AMG 5PTAS 6.0L 12CIL 630HP BITURBO AUT,2018,AUT,Gasolina,12,630,5.98,CAMIONETAS DE USO MULTIPLE (SUV),4.41,7.30,6.45,4.84,482,38,0,?,0
4616,MERCEDES,ML63 AMG,5PTS 6.2L 8CIL 503HP AUT,2011,G TRONIC,Gasolina,8,503,6.20,CAMIONETAS DE USO MULTIPLE (SUV),4.14,8.19,5.33,3.99,584,31,0,6,0

In [8]:
# La variable 'Calificación Contam. Aire' es de tipo object, cuando se esperaba que fuera int64.
# Se revisa que tiene 1,233 registros con valor ? lo cual se debe tratar como un valor nulo.
df_2[df_2['Calificación Contam. Aire']=='?']['Calificación Contam. Aire'].count()

1233

In [9]:
# Procedemos a remover esta variable 'Calificación Contam. Aire' de nuestro dataframe.

df_3 = df_2.drop('Calificación Contam. Aire', axis=1)
df_3.head(3)

,Marca,Submarca,Versión,Modelo,Trans.,Comb.,Cilindros,Potencia (HP),Tamaño (L),Categoría,R. Ciudad (km/l),R. Carr. (km/l),R. Comb. (km/l),R. Ajust. (km/l),CO2(g/km),NOx (g/1000km),Calificación Gas Ef. Inv.,Hibrido
0,FORD,FUSION,HIBRIDO 4PTS 2.0L 4CIL 188HP AUT (CVT),2015,CVT,Gasolina,4,188,2.0,AUTOS COMPACTOS,27.44,28.57,28.93,21.70,107,5,10,1
1,FORD,FUSION,HIBRIDO 4PTS 2.0L 4CIL 188HP AUT (eCVT),2016,CVT,Gasolina,4,188,2.0,AUTOS COMPACTOS,27.44,28.57,28.93,21.70,107,0,10,1
2,FORD,FUSION,HIBRIDO 4X2 4PTAS 2.0L 4CIL 141(+47e)HP E-CVT,2017,CVT,Gasolina,4,188,2.0,AUTOS COMPACTOS,25.62,24.77,25.23,18.92,123,2,10,1

In [10]:
# Tratamiento de variables categoricas

df_var_cat = df_3.select_dtypes(include='object')

for col in df_var_cat.columns:
    print(col, ': ', len(df_2[col].unique()), ' labels')

Marca :  43  labels
Submarca :  544  labels
Versión :  3118  labels
Trans. :  24  labels
Comb. :  2  labels
Categoría :  5  labels

In [12]:
# Dado que hay muchas categorías de Versión que no permite un análisis al casi tener cada vehículo su propia Versión, se procederá a remover este campo.

# De igual forma como hay muchas categorías de Submarca y estas se encuentran agrupadas por Marca, se procederá a remover este campo.

df_var_cat2 = df_var_cat.drop(['Submarca', 'Versión'], axis=1)
df_var_cat2.head(3)

  Marca Trans.     Comb.        Categoría
0  FORD    CVT  Gasolina  AUTOS COMPACTOS
1  FORD    CVT  Gasolina  AUTOS COMPACTOS
2  FORD    CVT  Gasolina  AUTOS COMPACTOS

In [45]:
# Aplicamos One Hot Encoding a las variables 'Comb.' y 'Cateogría'.

df_var_cat3_1 = df_var_cat2.drop(['Marca', 'Trans.'], axis=1)
df_var_cat3_1 = pd.get_dummies(df_var_cat3_1, drop_first=True)
df_var_cat3_1 = df_var_cat3_1.astype('int64')
df_var_cat3_1

,Comb._Gasolina,Categoría_AUTOS DE LUJO,Categoría_AUTOS DEPORTIVOS,Categoría_AUTOS SUBCOMPACTOS,Categoría_CAMIONETAS DE USO MULTIPLE (SUV)
0,1,0,0,0,0
1,1,0,0,0,0
2,1,0,0,0,0
3,1,0,0,0,0
4,1,0,0,0,0
...,...,...,...,...,...
4612,1,0,0,0,1
4613,1,0,0,0,1
4614,1,0,0,0,1
4615,1,0,0,0,1
4616,1,0,0,0,1

Para las variables 'Marca' y 'Trans.' aplicaremos One Hot Encoding pero seleccionando el top 15 y top 10 en frecuencia, respectivamente,
ya que con esto se abarca al menos el 75% de los registros y el resto se agrupan en una sola categoría.

In [29]:
df_var_cat2['Marca'].value_counts().sort_values(ascending=False).head(15).sum() / 4601

0.7507063681808303

In [30]:
df_var_cat2['Trans.'].value_counts().sort_values(ascending=False).head(10).sum() / 4601

0.9593566615953054

In [38]:
# Top 15 'Marca'
df_var_cat3_2 = df_var_cat2.drop(['Comb.', 'Categoría'], axis=1)
top_15 = [x for x in df_var_cat3_2['Marca'].value_counts().sort_values(ascending=False).head(15).index]
top_15

['AUDI',
 'PORSCHE',
 'MERCEDES',
 'VW',
 'CHEVROLET',
 'BMW',
 'FORD',
 'NISSAN',
 'HONDA',
 'MAZDA',
 'DODGE',
 'MINI',
 'SEAT',
 'TOYOTA',
 'PEUGEOT']

In [39]:
# Top 10 'Trans.'
top_10 = [x for x in df_var_cat3_2['Trans.'].value_counts().sort_values(ascending=False).head(10).index]
top_10

['AUT',
 'MAN',
 'CVT',
 'PDK',
 'STRONIC',
 'DSG',
 'TIP',
 'S TRONIC',
 'TIPTRONIC',
 'TIPT']

In [40]:
# Ahora aplicamos el One Hot Encoding a estos tops.
import numpy as np

for label in top_15:
    df_var_cat3_2['Marca_'+label] = np.where(df_var_cat3_2['Marca']==label, 1, 0)
df_var_cat3_2 = df_var_cat3_2.drop('Marca', axis=1)

for label in top_10:
    df_var_cat3_2['Trans._'+label] = np.where(df_var_cat3_2['Trans.']==label, 1, 0)
df_var_cat3_2 = df_var_cat3_2.drop('Trans.', axis=1)

df_var_cat3_2.head(3)

,Marca_AUDI,Marca_PORSCHE,Marca_MERCEDES,Marca_VW,Marca_CHEVROLET,Marca_BMW,Marca_FORD,Marca_NISSAN,Marca_HONDA,Marca_MAZDA,...,Trans._AUT,Trans._MAN,Trans._CVT,Trans._PDK,Trans._STRONIC,Trans._DSG,Trans._TIP,Trans._S TRONIC,Trans._TIPTRONIC,Trans._TIPT
0,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [55]:
# Concatenamos todas las variables en un solo df.

# df_3.reset_index(inplace=True)
# df_var_cat3_1.reset_index(inplace=True)
# df_var_cat3_2.reset_index(inplace=True)


df_var_cat4 = df_var_cat3_1.join(df_var_cat3_2)
df_4 = df_3.join(df_var_cat4)
df_final = df_4.drop(columns=['Marca', 'Submarca', 'Versión', 'Trans.', 'Comb.', 'Categoría'], index=1)
df_final.columns

Index(['Modelo', 'Cilindros', 'Potencia (HP)', 'Tamaño (L)',
       'R. Ciudad (km/l)', 'R. Carr. (km/l)', 'R. Comb. (km/l)',
       'R. Ajust. (km/l)', 'CO2(g/km)', 'NOx (g/1000km)',
       'Calificación Gas Ef. Inv.', 'Hibrido', 'Comb._Gasolina',
       'Categoría_AUTOS DE LUJO', 'Categoría_AUTOS DEPORTIVOS',
       'Categoría_AUTOS SUBCOMPACTOS',
       'Categoría_CAMIONETAS DE USO MULTIPLE (SUV)', 'Marca_AUDI',
       'Marca_PORSCHE', 'Marca_MERCEDES', 'Marca_VW', 'Marca_CHEVROLET',
       'Marca_BMW', 'Marca_FORD', 'Marca_NISSAN', 'Marca_HONDA', 'Marca_MAZDA',
       'Marca_DODGE', 'Marca_MINI', 'Marca_SEAT', 'Marca_TOYOTA',
       'Marca_PEUGEOT', 'Trans._AUT', 'Trans._MAN', 'Trans._CVT', 'Trans._PDK',
       'Trans._STRONIC', 'Trans._DSG', 'Trans._TIP', 'Trans._S TRONIC',
       'Trans._TIPTRONIC', 'Trans._TIPT'],
      dtype='object')

In [57]:
# Guardamos algunos de los df principales para uso posterior.
df_3.to_csv('datos.csv', index=False)
df_final.to_csv('datos_proc.csv', index=False)
df_4.to_csv('datos_completo.csv', index=False)

In [61]:
######################################################
# Procesamiento Alternativo de Variables Categóricas #
######################################################

# Debido a la dificultad para revisar/analizar en posteriores tareas la gran cantidad de variables dummies que se generaron
# en este apartado se opta mejor por redefinir las variables categóricas mediante el método Mean Encoding.

variables_cat = ['Marca', 'Submarca', 'Versión', 'Trans.', 'Comb.', 'Categoría']

for var in variables_cat:
    # 1.
    Encoded_Mean_Dict = df_3.groupby([var])['CO2(g/km)'].mean().to_dict()
    # 2.
    df_3[var + '_Mean_Encoded'] = df_3[var].map(Encoded_Mean_Dict)

# 3.
df_5 = df_3.drop(columns=variables_cat, axis = 1)
df_5.head()

,Modelo,Cilindros,Potencia (HP),Tamaño (L),R. Ciudad (km/l),R. Carr. (km/l),R. Comb. (km/l),R. Ajust. (km/l),CO2(g/km),NOx (g/1000km),Calificación Gas Ef. Inv.,Hibrido,Marca_Mean_Encoded,Submarca_Mean_Encoded,Versión_Mean_Encoded,Trans._Mean_Encoded,Comb._Mean_Encoded,Categoría_Mean_Encoded
0,2015,4,188,2.0,27.44,28.57,28.93,21.70,107,5,10,1,236.245136,194.409091,107.0,212.619433,256.831063,204.461003
1,2016,4,188,2.0,27.44,28.57,28.93,21.70,107,0,10,1,236.245136,194.409091,107.0,212.619433,256.831063,204.461003
2,2017,4,188,2.0,25.62,24.77,25.23,18.92,123,2,10,1,236.245136,194.409091,123.0,212.619433,256.831063,204.461003
3,2018,4,188,2.0,25.62,24.77,25.23,18.92,123,2,10,1,236.245136,194.409091,123.0,271.689271,256.831063,204.461003
4,2011,4,156,2.5,24.00,21.90,23.01,17.26,135,5,9,1,236.245136,194.409091,135.0,212.619433,256.831063,204.461003

In [62]:
df_5.to_csv('datos_proc2.csv', index=False)

In [49]:
# Filtrar registros

df_1[(df_1['Hibrido']==True) & (df_1['Modelo']>2017)]

,index,Marca,Submarca,Versión,Modelo,Trans.,Comb.,Cilindros,Potencia (HP),Tamaño (L),Categoría,R. Ciudad (km/l),R. Carr. (km/l),R. Comb. (km/l),R. Ajust. (km/l),CO2(g/km),NOx (g/1000km),Calificación Gas Ef. Inv.,Calificación Contam. Aire,Hibrido
3,3,FORD,FUSION,HIBRIDO 4PTAS 2.0L 4CIL 188HP AUT eCVT,2018,AUT,Gasolina,4,188,2.0,AUTOS COMPACTOS,25.62,24.77,25.23,18.92,123,2,10,9,True
726,726,CHEVROLET,VOLT,HIBRIDO ENCHUFABLE 4PTAS 1.5L 4CIL 101HP CVT,2018,CVT,Gasolina,4,101,1.5,AUTOS DE LUJO,24.96,25.98,25.41,19.05,122,2,10,9,True

In [46]:
# Crear subconjuntos de datos

df_1.iloc[[7, 4, 20], [1, 3, 4]]

        Marca                             Versión  Modelo
7       HONDA     HÍBRIDO 4PTS 1.5L 4CIL 90HP CVT    2014
4        FORD     HYBRID 4PTS 2.5L 4CIL 156HP CVT    2011
20  CHEVROLET  LT 4PTAS 1.4L 4CIL 148HP AUT TURBO    2017

In [52]:
# Crear grupos de datos

df_1.groupby(['Hibrido', 'Modelo'])['R. Comb. (km/l)'].mean().unstack()

Modelo,2011,2012,2013,2014,2015,2016,2017,2018
Hibrido,,,,,,,,
False,11.657728,12.073772,12.621496,12.675873,14.029014,14.062907,14.358044,14.469952
True,22.466667,19.096000,18.724000,18.241667,20.835000,17.961667,20.233333,25.320000